<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<!-- Загаловок страницы -->
	<title>@@title</title>
	<!-- Описание страницы -->
	<meta name="description" content="@@description">
	<!-- Ключевые слова, по которым ваша страница находится -->
	<meta name="keywords" content="@@keywords">
	<!-- Автор сайта -->
	<meta name="author" content="Автор">
	<!-- Зарегестрированное лицо -->
	<meta name="copyright" lang="ru" content="ООО Ромашка" />
	<!-- Иконка сайта в выдаче -->
	<meta name="image" content="./img/logo.png">

	<!-- Тэги используются соц сетями -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Название">
	<meta property="og:description" content="Описание">
	<meta property="og:image" content="./img/logo.png">
	<meta property="og:url" content="https://example.com">
	
	<!-- Прямая ссылка на стрницу, без аргументов -->
	<link rel="canonical" href="https://example.com">

	<!-- Если имеются сторонние бибилотеки, их можно начать подключать так -->
	<link rel="preconnect" href="//fonts.gstatic.com">
	<link rel="preconnect" href="//cdnjs.cloudflare.com">
	<link rel="preconnect" href="//google-analytics.com">

	<!-- Цвет темы -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
	
	<!-- Подключение fav иконок -->
	<link rel="shortcut icon" href="@@file/img/fav/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href="./img/fav/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="./img/fav/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="./img/fav/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./img/fav/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./img/fav/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./img/fav/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./img/fav/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./img/fav/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./img/fav/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./img/fav/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="./img/fav/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./img/fav/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="./img/fav/apple-touch-icon-1024x1024.png">
	<link rel="icon" sizes="16x16" href="./img/fav/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="./img/fav/favicon-32x32.png" type="image/png">


	<link rel="stylesheet" href="@@styleFile">
</head>