@font-face {
								font-family: 'Europa';
								font-display: swap;
								src: url("../fonts/europanuovabold.woff2") format("woff2"),
									url("../fonts/europanuovabold.woff") format("woff");
								font-weight: 700;
								font-style: normal;
							}
@font-face {
								font-family: 'Europa';
								font-display: swap;
								src: url("../fonts/europanuovaregular.woff2") format("woff2"),
									url("../fonts/europanuovaregular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: Pushster;
								font-display: swap;
								src: url("../fonts/Pushster-Regular.woff2") format("woff2"),
									url("../fonts/Pushster-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: Roboto;
								font-display: swap;
								src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
									url("../fonts/Roboto-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: TTHoves;
								font-display: swap;
								src: url("../fonts/TTHoves-Regular.woff2") format("woff2"),
									url("../fonts/TTHoves-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: Roboto;
								font-display: swap;
								src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
									url("../fonts/Roboto-Bold.woff") format("woff");
								font-weight: 700;
								font-style: normal;
							}
